.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  width: 600px;
  background: #fff;
  padding-bottom: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px; /*between text and underline*/
  width: 100%;
  margin-top: 30px;
}

.text {
  color: #3c009d;
  font-size: 48px;
  font-weight: 500;
}

.underline {
  width: 61px;
  height: 6px;
  background: #3c009d;
  border-radius: 9px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  gap: 15px; /*between inputs*/
}

.input {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
}

.input .img {
  margin: 0px 10px;
  color: #797979;
}
.input input {
  height: 50px;
  width: 300px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.error-msg {
  color:red;
  margin-left: 60px;
  margin-right: 60px;
}

.terms-policy {
  color: #797979;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.switch-btns-container {
  display: flex;
  /* flex-direction: row;
  justify-content: center; */
  gap: 30px;
  margin: 30px auto;
}

.switch-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background-color: #3c009d;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
}

.gray {
  background: #eaeaea;
  color: #797979;
}

.submit-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
  height: 59px;
  background: #88eba5;
  color: #797979;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.submit-btn:hover{
  background: #00db42;
  color: #fff;
}

/* * {border: 1px solid black;} */