.robot-wrapper{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.robot-form {
  /* width: 100%; */
  /* margin-bottom: 1rem; */
}

.robot-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.robot-input::placeholder {
  color: #807e7e;
}

.robot-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}
.robot-btn:hover{
  background: #704acf;
}

.robot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 80%;
}

.robot-icons > *{
  margin-left: 20px;
  cursor: pointer;
}
